<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body data-spy="scroll" data-target="#main-nav" >
    {{- partial "header.html" . -}}
    <div class="main-content">
      <div class="page-section">
        <header class="section-header">
          <h1 class="text-light text-center" style="font-size: 20vw;">404</h1>
        </header>
      <p class="lead text-center">Sorry, we can't find that page! It might be an old link or maybe it moved.</p>
      <p class="text-center">Click <a href="https://cumulocity.com/guides/welcome/intro-documentation/">here</a> to access our product documentation.</p>
      </div>
    </div>
  </body>
</html>
